$formily-prefix: 'formily-element';
$namespace: 'el';

@import '~element-plus/theme-chalk/src/common/var.scss';

@mixin active {
    border-color: --el-color-primary;
    border-right-width: $border-width-base !important;
    outline: 0;
}

@mixin hover {
    border-color: $border-color-hover;
    border-right-width: $border-width-base !important;
    outline: 0;
}
